<app-header [userName]="userName"  #headerComp></app-header>
<div class="container d-flex flex-column justify-content-center  vh-100">

    <div class="container-card" style="margin-top: 10px"> 

        <div class="container-title">My Post Schedules</div>
        
  
        <div class="social-card">
            
                <img src="assets/company_logo.jpg" alt="Linkedin Logo" class="social-logo">
                <div class="social-details">
                    <h6 class="mb-0">SocialSyncV1</h6>
                    <span class="status-text content-text">Hello world</span><br/>
                    <span class="status-text">Scheduled at : 2025-01-14 00:45</span><br/>
                    <span class="status-text">Provider: Linkedin</span><br/>
                    <span>Status: <span class="status-text">Pending <i class="fa-sharp fa-solid fa-clock  fa-lg" style="color: #FFD43B;"></i></span></span>
                </div>
            

        </div>
          
        <div class="social-card">
            
            <img src="assets/company_logo.jpg" alt="Linkedin Logo" class="social-logo">
            <div class="social-details">
                <h6 class="mb-0">SocialSyncV1</h6>
                <span class="status-text">Hello world</span><br/>
                <span class="status-text">Scheduled at : 2025-01-14 00:45</span><br/>
                <span class="status-text">Provider: Linkedin</span><br/>
                <span>Status: <span class="status-text">Posted <i class="fa-solid fa-circle-check fa-lg" style="color: #63E6BE;"></i></span></span>
            </div>
        

    </div>
      
    </div>
</div>