<app-header [userName]="userName"  #headerComp></app-header>
<div class="container d-flex flex-column   vh-100">

    <div class="container-card" style="margin-top: 100px"> 

        <div class="container-title">My Post Schedules</div>
        
        <!-- loader -->
        <ngx-loading
        [show]="loading"
        [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"
        ></ngx-loading>

        <div *ngIf="!loading">
            <div class="social-card" *ngFor="let scheduledata of myschedules">
                <img src="assets/company_logo.jpg" alt="Linkedin Logo" class="social-logo">
                <div class="social-details">
                    <h6 class="mb-0">{{scheduledata.pagename}}</h6>
                    <span class="status-text content-text">{{scheduledata.commentary}}</span><br/>
                    <span class="status-text">Scheduled at : {{scheduledata.scheduledDate}}</span><br/>
                    <span class="status-text">Provider: {{scheduledata.provider}}</span><br/>
                    <span *ngIf="!scheduledata.isPosted">Status: <span class="status-text">Pending 
                        <i class="fa-sharp fa-solid fa-clock  fa-lg" style="color: #FFD43B;"></i>
                    </span></span>
                    <span *ngIf="scheduledata.isPosted">Status: <span class="status-text">Posted 
                        <i class="fa-solid fa-circle-check" style="color: #63E6BE;"></i>
                    </span></span>
                </div>
        </div>
        </div>
    </div>
</div>