<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="row w-100 justify-content-center">
      <div class="col-md-6 col-lg-4">
       
       <div class="d-flex justify-content-center mb-2">
          <h1 style="font-family: 'Roboto', sans-serif; font-weight: 700; color: #007bff; text-shadow: 2px 2px 4px rgba(0,0,0,0.1);" class="display-6 text-center mb-2">SocialSync</h1>
       </div>
        <div class="card shadow">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Reset password</h2>
            <form [formGroup]="forgotpasswordForm" (ngSubmit)="sendemailVerification()">
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input formControlName="Email" type="email" class="form-control" id="email" placeholder="Enter your email">
                <div class="text-danger" *ngIf="forgotpasswordForm.get('Email')?.touched && forgotpasswordForm.get('Email')?.errors?.['required']">
                  Email is required
                </div>
                <div class="text-danger" *ngIf="forgotpasswordForm.get('Email')?.touched && forgotpasswordForm.get('Email')?.errors?.['email']">
                  Please enter a valid email
                </div> 
              </div>

              <div class="d-grid gap-2">
                <button type="submit"  class="btn btn-warning" [disabled]="forgotpasswordForm.invalid || IsverificationbtnDisabled" *ngIf="!loadingbtn1">Send verification code</button>
                <div style="display: flex;justify-content: center;" *ngIf="loadingbtn1">
                  <div class="spinner-border spinner-border-sm text-primary " role="status"></div>
                </div>
              </div>

            </form>
            <hr>
           <!--here display the code to enter which sends in email to reset the password-->
           @if(isverificationCode){
            <form [formGroup]="verifycodeForm">
                <div class="mb-3">
                  <label for="text" class="form-label">Verify code</label>
                  <input type="text" formControlName="Code" class="form-control" id="Code" placeholder="Please enter verification code">
                </div>
    
                <div class="d-flex justify-content-between">
                    <button type="button" [disabled]="!IsresendCode()" class="btn btn-secondary flex-grow-1 me-2" (click)="resetTimer()" *ngIf="!loadingbtn2">Resend Code</button>
                    <div class="flex-grow-1 mt-2" style="padding-left: 30px;" *ngIf="loadingbtn2">
                      <div class="spinner-border spinner-border-sm text-primary " role="status"></div>
                    </div>
                    <button type="submit"  class="btn btn-warning flex-grow-1" (click)="verifyingCode()" *ngIf="!loadingbtn3">Verify Code</button>
                    <div class="flex-grow-1 mt-2" *ngIf="loadingbtn3">
                      <div class="spinner-border spinner-border-sm text-primary " role="status"></div>
                    </div>
                </div>
              </form>
              <div class="d-flex justify-content-center">
                <app-otp-timer (messageEvent)="TimerEvent($event)" *ngIf="isSubmitting" [IstimerReset]="timerReset"></app-otp-timer>
              </div>
           }
           <!--end block-->
          </div>
        </div>
      </div>
    </div>
  </div>
  
