.welcome-text{
    // font-family: 'Arial', sans-serif; 
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    color: #007bff; 
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    font-size: 24px; 
    text-align: center;
}
.new-text{
    color: #007bff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto',sans-serif;
}
