<div class="container d-flex flex-column justify-content-center  vh-100">

    <div class="container-card "> 

        <div class="container-title">Connect Your Social Account</div>
        
  
        <div class="social-card">
            <img src="assets/Linkedinlogo.png" alt="Linkedin Logo" class="social-logo">
            <div class="social-details">
                <h6 class="mb-0">Linkedin</h6>
                <span class="status-text">{{LinkedinConnStatus}}</span>
            </div>
            <button class="btn btn-danger btn-sm btn-connect" *ngIf="LinkedinConnStatus == 'Connected' " (click)="DisconnectLinkedin()">Disconnect</button>
            <button class="btn btn-primary btn-sm btn-connect" *ngIf="LinkedinConnStatus == 'Disconnected' " (click)="ConnectLinkedin()">Connect</button>
        </div>

    </div>
</div>



