.form-control {
    &:focus {
      outline: none;        // Remove the default outline
      box-shadow: none;     // Remove the shadow effect
      border-color: transparent; // Set border color to transparent
    }
  }