<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="row w-100 justify-content-center">
      <div class="col-md-6 col-lg-4">
       
       <div class="d-flex justify-content-center mb-2">
          <h1 style="font-family: 'Roboto', sans-serif; font-weight: 700; color: #007bff; text-shadow: 2px 2px 4px rgba(0,0,0,0.1);" class="display-6 text-center mb-2">SocialSync</h1>
       </div>
        <div class="card shadow">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Reset password</h2>
            <form [formGroup]="resetpasswordForm" (ngSubmit)="resetPassword()">
              <div class="mb-3">
                <label for="password" class="form-label">Enter New Password</label>
                <input formControlName="newpassword" type="password" class="form-control" id="newpassword" placeholder="Enter New Password">
                <div class="text-danger" *ngIf="resetpasswordForm.get('newpassword')?.touched && resetpasswordForm.get('newpassword')?.errors?.['required']">
                  Password is required
                </div>
                <div class="text-danger" *ngIf="resetpasswordForm.get('newpassword')?.touched && resetpasswordForm.get('newpassword')?.errors?.['minlength']">
                  Password must be at least 6 characters
                </div>
                <div class="text-danger" *ngIf="resetpasswordForm.get('newpassword')?.errors?.['passwordStrength']">
                  Password must include an uppercase letter, a number, and a special character
                </div>
              </div>
              <div class="mb-3">
                <label for="retypepassword" class="form-label">Retype Password</label>
                <input formControlName="confirmPassword" type="password" class="form-control" id="retypepassword" placeholder="Retype Password">
                <div *ngIf="resetpasswordForm.get('confirmPassword')?.errors?.['passwordMismatch']" class="text-danger">
                  Passwords do not match
                </div>
              </div>

              <div class="d-grid">
                <button type="submit" class="btn btn-warning" *ngIf="!loading">Reset Password</button>
                <div style="display: flex;justify-content: center;" *ngIf="loading">
                  <div class="spinner-border spinner-border-sm text-primary " role="status"></div>
                </div>
              </div>
            </form>
            <hr>

          </div>
        </div>
      </div>
    </div>
  </div>
  

